<!doctype html>
<html lang="fr">
   <head>
      <meta charset="UTF-8" />
      <meta name="description" content="" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta
         name="viewport"
         content="width=device-width, initial-scale=1, shrink-to-fit=no"
      />

      <title>
         {{ .Site.Title }} | {{ if .Page.Title }}{{ .Page.Title }}{{ end }}
      </title>

      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

      <link rel="stylesheet" href='{{ "assets/styles.css" | relURL }}' />

   </head>

   <body class="bg-black">
      
      {{ partial "header.html" . }}
      {{ block "main" . }}
      {{ end }}
      {{ partial "footer.html" . }} 
      

      <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
      <script src='{{ "assets/js/custom.js" | relURL }}'></script>

      <!-- Initialize Swiper -->
      <script>
         var OurPartner = new Swiper(".OurPartner", {
            spaceBetween: 15,
            slidesPerView: 2,
            autoplay: {
            delay: 3000, 
            disableOnInteraction: false,
         },
            breakpoints: {

               768: {
                     slidesPerView: 4,
               },
               1024: {
                     slidesPerView: 6,
               },
            },
         });
   </script>

   </body>
</html>
