*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

/*
! tailwindcss v3.4.16 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  letter-spacing: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;
}

@media (min-width: 100%) {
  .container {
    max-width: 100%;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1320px) {
  .container {
    max-width: 1320px;
  }
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.left-0 {
  left: 0px;
}

.left-2\/4 {
  left: 50%;
}

.left-\[14px\] {
  left: 14px;
}

.top-0 {
  top: 0px;
}

.top-\[14px\] {
  top: 14px;
}

.z-20 {
  z-index: 20;
}

.col-span-12 {
  grid-column: span 12 / span 12;
}

.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.mx-4 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-3 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.-mt-10 {
  margin-top: -2.5rem;
}

.-mt-80 {
  margin-top: -20rem;
}

.-mt-\[60rem\] {
  margin-top: -60rem;
}

.mb-0 {
  margin-bottom: 0px;
}

.mb-10 {
  margin-bottom: 2.5rem;
}

.mb-16 {
  margin-bottom: 4rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-3 {
  margin-bottom: 0.75rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mb-5 {
  margin-bottom: 1.25rem;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

.mb-7 {
  margin-bottom: 1.75rem;
}

.mb-8 {
  margin-bottom: 2rem;
}

.mb-\[4px\] {
  margin-bottom: 4px;
}

.me-0 {
  margin-inline-end: 0px;
}

.me-2 {
  margin-inline-end: 0.5rem;
}

.me-3 {
  margin-inline-end: 0.75rem;
}

.ms-2 {
  margin-inline-start: 0.5rem;
}

.ms-\[15px\] {
  margin-inline-start: 15px;
}

.mt-3 {
  margin-top: 0.75rem;
}

.mt-5 {
  margin-top: 1.25rem;
}

.mt-8 {
  margin-top: 2rem;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.hidden {
  display: none;
}

.h-1 {
  height: 0.25rem;
}

.h-9 {
  height: 2.25rem;
}

.h-\[45px\] {
  height: 45px;
}

.h-auto {
  height: auto;
}

.h-full {
  height: 100%;
}

.max-h-\[60px\] {
  max-height: 60px;
}

.w-1 {
  width: 0.25rem;
}

.w-1\/5 {
  width: 20%;
}

.w-9 {
  width: 2.25rem;
}

.w-\[45px\] {
  width: 45px;
}

.w-\[47\%\] {
  width: 47%;
}

.w-full {
  width: 100%;
}

.min-w-9 {
  min-width: 2.25rem;
}

.min-w-\[60px\] {
  min-width: 60px;
}

.max-w-\[1080px\] {
  max-width: 1080px;
}

.max-w-\[1600px\] {
  max-width: 1600px;
}

.max-w-\[60px\] {
  max-width: 60px;
}

.max-w-\[720px\] {
  max-width: 720px;
}

.max-w-\[740px\] {
  max-width: 740px;
}

.max-w-\[768px\] {
  max-width: 768px;
}

.max-w-\[800px\] {
  max-width: 800px;
}

.max-w-fit {
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.grid-cols-12 {
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.items-start {
  align-items: flex-start;
}

.items-center {
  align-items: center;
}

.justify-start {
  justify-content: flex-start;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.gap-2 {
  gap: 0.5rem;
}

.gap-4 {
  gap: 1rem;
}

.gap-5 {
  gap: 1.25rem;
}

.gap-6 {
  gap: 1.5rem;
}

.gap-x-5 {
  -moz-column-gap: 1.25rem;
       column-gap: 1.25rem;
}

.gap-y-10 {
  row-gap: 2.5rem;
}

.gap-y-8 {
  row-gap: 2rem;
}

.space-y-2 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.5rem * var(--tw-space-y-reverse));
}

.space-y-5 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1.25rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1.25rem * var(--tw-space-y-reverse));
}

.overflow-hidden {
  overflow: hidden;
}

.text-nowrap {
  text-wrap: nowrap;
}

.rounded-2xl {
  border-radius: 1rem;
}

.rounded-\[10px\] {
  border-radius: 10px;
}

.rounded-\[16px\] {
  border-radius: 16px;
}

.rounded-\[20px\] {
  border-radius: 20px;
}

.rounded-full {
  border-radius: 9999px;
}

.rounded-lg {
  border-radius: 0.5rem;
}

.rounded-xl {
  border-radius: 0.75rem;
}

.border {
  border-width: 1px;
}

.border-2 {
  border-width: 2px;
}

.border-b {
  border-bottom-width: 1px;
}

.border-l {
  border-left-width: 1px;
}

.border-l-2 {
  border-left-width: 2px;
}

.border-t {
  border-top-width: 1px;
}

.border-\[\#858B9833\] {
  border-color: #858B9833;
}

.border-\[\#858B984D\] {
  border-color: #858B984D;
}

.border-\[\#F2F6FA29\] {
  border-color: #F2F6FA29;
}

.border-\[\#FFFFFF29\] {
  border-color: #FFFFFF29;
}

.border-gray-200 {
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity, 1));
}

.border-white {
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity, 1));
}

.border-opacity-15 {
  --tw-border-opacity: 0.15;
}

.border-opacity-20 {
  --tw-border-opacity: 0.2;
}

.bg-\[\#0609138C\] {
  background-color: #0609138C;
}

.bg-\[\#0C0F19CC\] {
  background-color: #0C0F19CC;
}

.bg-\[\#0C0F19\] {
  --tw-bg-opacity: 1;
  background-color: rgb(12 15 25 / var(--tw-bg-opacity, 1));
}

.bg-\[\#1A1B28\] {
  --tw-bg-opacity: 1;
  background-color: rgb(26 27 40 / var(--tw-bg-opacity, 1));
}

.bg-\[\#2C2C2C4D\] {
  background-color: #2C2C2C4D;
}

.bg-black {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity, 1));
}

.bg-transparent {
  background-color: transparent;
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}

.bg-opacity-50 {
  --tw-bg-opacity: 0.5;
}

.bg-\[url\(\'images\/bg\/GradientBlur\.webp\'\)\] {
  background-image: url('images/bg/GradientBlur.webp');
}

.bg-\[url\(\'images\/bg\/form-bg\.webp\'\)\] {
  background-image: url('images/bg/form-bg.webp');
}

.bg-\[url\(images\/bg\/form-bg\.webp\)\] {
  background-image: url(images/bg/form-bg.webp);
}

.bg-gradient-to-r {
  background-image: linear-gradient(to right, var(--tw-gradient-stops));
}

.from-\[\#3245FF\] {
  --tw-gradient-from: #3245FF var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(50 69 255 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.from-\[\#D83333\] {
  --tw-gradient-from: #D83333 var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(216 51 51 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.to-\[\#B845ED\] {
  --tw-gradient-to: #B845ED var(--tw-gradient-to-position);
}

.to-\[\#F041FF\] {
  --tw-gradient-to: #F041FF var(--tw-gradient-to-position);
}

.bg-cover {
  background-size: cover;
}

.bg-clip-text {
  -webkit-background-clip: text;
          background-clip: text;
}

.bg-bottom {
  background-position: bottom;
}

.bg-center {
  background-position: center;
}

.bg-no-repeat {
  background-repeat: no-repeat;
}

.p-0 {
  padding: 0px;
}

.p-2 {
  padding: 0.5rem;
}

.p-5 {
  padding: 1.25rem;
}

.p-6 {
  padding: 1.5rem;
}

.p-\[14px\] {
  padding: 14px;
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.py-10 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.py-12 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.py-16 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.py-20 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-5 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.py-80 {
  padding-top: 20rem;
  padding-bottom: 20rem;
}

.py-\[14px\] {
  padding-top: 14px;
  padding-bottom: 14px;
}

.pb-12 {
  padding-bottom: 3rem;
}

.pb-8 {
  padding-bottom: 2rem;
}

.pb-\[60rem\] {
  padding-bottom: 60rem;
}

.pe-2 {
  padding-inline-end: 0.5rem;
}

.pe-8 {
  padding-inline-end: 2rem;
}

.ps-10 {
  padding-inline-start: 2.5rem;
}

.ps-11 {
  padding-inline-start: 2.75rem;
}

.ps-5 {
  padding-inline-start: 1.25rem;
}

.pt-12 {
  padding-top: 3rem;
}

.pt-14 {
  padding-top: 3.5rem;
}

.pt-16 {
  padding-top: 4rem;
}

.pt-7 {
  padding-top: 1.75rem;
}

.pt-8 {
  padding-top: 2rem;
}

.text-center {
  text-align: center;
}

.font-Inter {
  font-family: Inter, sans-serif;
}

.font-obviously {
  font-family: Obviously, sans-serif;
}

.font-urbanist {
  font-family: Urbanist, sans-serif;
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.text-\[14px\] {
  font-size: 14px;
}

.text-\[18px\] {
  font-size: 18px;
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.font-bold {
  font-weight: 700;
}

.font-medium {
  font-weight: 500;
}

.font-normal {
  font-weight: 400;
}

.font-semibold {
  font-weight: 600;
}

.leading-10 {
  line-height: 2.5rem;
}

.leading-6 {
  line-height: 1.5rem;
}

.leading-7 {
  line-height: 1.75rem;
}

.leading-9 {
  line-height: 2.25rem;
}

.leading-\[16px\] {
  line-height: 16px;
}

.leading-\[18px\] {
  line-height: 18px;
}

.text-ThemeWhite {
  --tw-text-opacity: 1;
  color: rgb(242 246 250 / var(--tw-text-opacity, 1));
}

.text-\[\#9CA3AF\] {
  --tw-text-opacity: 1;
  color: rgb(156 163 175 / var(--tw-text-opacity, 1));
}

.text-\[\#9ca3af\] {
  --tw-text-opacity: 1;
  color: rgb(156 163 175 / var(--tw-text-opacity, 1));
}

.text-\[\#BFC1C9\] {
  --tw-text-opacity: 1;
  color: rgb(191 193 201 / var(--tw-text-opacity, 1));
}

.text-\[\#C2C2C2\] {
  --tw-text-opacity: 1;
  color: rgb(194 194 194 / var(--tw-text-opacity, 1));
}

.text-transparent {
  color: transparent;
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.opacity-0 {
  opacity: 0;
}

.transition-opacity {
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

@font-face {
  font-family: 'Inter';

  src: url('/hugo-marketing-reports/assets/fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype');

  font-weight: 100, 900;
}

@font-face {
  font-family: 'Obviously';

  src: url('/hugo-marketing-reports/assets/fonts/Obviously/Obviously-Thin.ttf') format('truetype');

  font-weight: 100;

  font-style: normal;

  font-display: swap;
}

@font-face {
  font-family: 'Obviously';

  src: url('/hugo-marketing-reports/assets/fonts/Obviously/Obviously-Lght.ttf') format('truetype');

  font-weight: 200;

  font-style: normal;

  font-display: swap;
}

@font-face {
  font-family: 'Obviously';

  src: url('/hugo-marketing-reports/assets/fonts/Obviously/Obviously-Regu.ttf') format('truetype');

  font-weight: 300;

  font-style: normal;

  font-display: swap;
}

@font-face {
  font-family: 'Obviously';

  src: url('/hugo-marketing-reports/assets/fonts/Obviously/Obviously-Semi.ttf') format('truetype');

  font-weight: 400;

  font-style: normal;

  font-display: swap;
}

@font-face {
  font-family: 'Obviously';

  src: url('/hugo-marketing-reports/assets/fonts/Obviously/Obviously-Medi.ttf') format('truetype');

  font-weight: 500;

  font-style: normal;

  font-display: swap;
}

@font-face {
  font-family: 'Obviously';

  src: url('/hugo-marketing-reports/assets/fonts/Obviously/Obviously-Bold.ttf') format('truetype');

  font-weight: 600;

  font-style: normal;

  font-display: swap;
}

@font-face {
  font-family: 'Obviously';

  src: url('/hugo-marketing-reports/assets/fonts/Obviously/Obviously-ExtdSupr.ttf') format('truetype');

  font-weight: 800;

  font-style: normal;

  font-display: swap;
}

@font-face {
  font-family: 'Obviously';

  src: url('/hugo-marketing-reports/assets/fonts/Obviously/Obviously-ExtdBold.ttf') format('truetype');

  font-weight: 900;

  font-style: normal;

  font-display: swap;
}

@font-face {
  font-family: 'Obviously';

  src: url('/hugo-marketing-reports/assets/fonts/Obviously/Obviously-Thin.ttf') format('truetype');

  font-weight: 100;

  font-style: normal;

  font-display: swap;
}

/* ---------- Font Family Start ---------- */

@font-face {
  font-family: 'Urbanist';

  src: url('/hugo-marketing-reports/assets/fonts/urbanist/urbanist-latin-100-normal.ttf') format('ttf');

  font-weight: 100;

  /* Thin */

  font-style: normal;
}

@font-face {
  font-family: 'Urbanist';

  src: url('/hugo-marketing-reports/assets/fonts/urbanist/urbanist-latin-200-normal.ttf') format('ttf');

  font-weight: 200;

  /* Extra Light */

  font-style: normal;
}

@font-face {
  font-family: 'Urbanist';

  src: url('/hugo-marketing-reports/assets/fonts/urbanist/urbanist-latin-300-normal.ttf') format('ttf');

  font-weight: 300;

  /* Light */

  font-style: normal;
}

@font-face {
  font-family: 'Urbanist';

  src: url('/hugo-marketing-reports/assets/fonts/urbanist/urbanist-latin-400-normal.ttf') format('ttf');

  font-weight: 400;

  /* Regular */

  font-style: normal;
}

@font-face {
  font-family: 'Urbanist';

  src: url('/hugo-marketing-reports/assets/fonts/urbanist/urbanist-latin-500-normal.ttf') format('ttf');

  font-weight: 500;

  /* Medium */

  font-style: normal;
}

@font-face {
  font-family: 'Urbanist';

  src: url('/hugo-marketing-reports/assets/fonts/urbanist/urbanist-latin-600-normal.ttf') format('ttf');

  font-weight: 600;

  /* SemiBold */

  font-style: normal;
}

@font-face {
  font-family: 'Urbanist';

  src: url('/hugo-marketing-reports/assets/fonts/urbanist/urbanist-latin-700-normal.ttf') format('ttf');

  font-weight: 700;

  /* Bold */

  font-style: normal;
}

@font-face {
  font-family: 'Urbanist';

  src: url('/hugo-marketing-reports/assets/fonts/urbanist/urbanist-latin-800-normal.ttf') format('ttf');

  font-weight: 800;

  /* Extra Bold */

  font-style: normal;
}

@font-face {
  font-family: 'Urbanist';

  src: url('/hugo-marketing-reports/assets/fonts/urbanist/urbanist-latin-900-normal.ttf') format('ttf');

  font-weight: 900;

  /* Extra Bold */

  font-style: normal;
}

.shadow-bg {
  background-position-y: bottom;
  background-position-x: right;
  background-size: 60% 40%;
}

/* ---------- Font Family Start ---------- */

@media only screen and (max-width: 1024px) {
  .menu-icon.close {
    display: none;
  }

  .menu-active .menu-icon.close {
    display: block;
  }

  .menu-active .menu-icon.open {
    display: none;
  }

  #mobile-menu {
    display: block;
  }

  .nav-list {
    position: absolute;
    top: 4rem;
    left: 0px;
    z-index: 50;
    width: 100%;
    flex-direction: column;
    overflow-y: auto;
    --tw-bg-opacity: 1;
    background-color: rgb(0 0 0 / var(--tw-bg-opacity, 1));
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    opacity: 0;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    height: calc(100vh - 64px);
    transform: translate(-100%, 0);
    transition: 0.3s ease-in-out;
  }

  .nav-list.active {
    transform: translate(0px, 0px);
    opacity: 1;
  }

  .shadow-bg {
    background-size: 100% 8%;
  }
}

.placeholder\:text-\[\#9CA3AF66\]::-moz-placeholder {
  color: #9CA3AF66;
}

.placeholder\:text-\[\#9CA3AF66\]::placeholder {
  color: #9CA3AF66;
}

.placeholder\:text-\[\#F2F6FA66\]::-moz-placeholder {
  color: #F2F6FA66;
}

.placeholder\:text-\[\#F2F6FA66\]::placeholder {
  color: #F2F6FA66;
}

.before\:absolute::before {
  content: var(--tw-content);
  position: absolute;
}

.before\:left-0::before {
  content: var(--tw-content);
  left: 0px;
}

.before\:top-2::before {
  content: var(--tw-content);
  top: 0.5rem;
}

.before\:block::before {
  content: var(--tw-content);
  display: block;
}

.before\:h-3::before {
  content: var(--tw-content);
  height: 0.75rem;
}

.before\:h-\[6px\]::before {
  content: var(--tw-content);
  height: 6px;
}

.before\:w-3::before {
  content: var(--tw-content);
  width: 0.75rem;
}

.before\:w-\[6px\]::before {
  content: var(--tw-content);
  width: 6px;
}

.before\:rounded-full::before {
  content: var(--tw-content);
  border-radius: 9999px;
}

.before\:bg-white::before {
  content: var(--tw-content);
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}

.before\:content-list-icon::before {
  --tw-content: url("images/logos/list-icon.svg");
  content: var(--tw-content);
}

.hover\:text-neutral-300:hover {
  --tw-text-opacity: 1;
  color: rgb(212 212 212 / var(--tw-text-opacity, 1));
}

.focus\:border-\[\#4b2d8c\]:focus {
  --tw-border-opacity: 1;
  border-color: rgb(75 45 140 / var(--tw-border-opacity, 1));
}

.focus\:outline-none:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.group:hover .group-hover\:opacity-100 {
  opacity: 1;
}

@media (min-width: 768px) {
  .md\:w-2\/4 {
    width: 50%;
  }

  .md\:flex-row {
    flex-direction: row;
  }
}

@media (min-width: 1024px) {
  .lg\:col-span-3 {
    grid-column: span 3 / span 3;
  }

  .lg\:col-span-4 {
    grid-column: span 4 / span 4;
  }

  .lg\:col-span-5 {
    grid-column: span 5 / span 5;
  }

  .lg\:col-span-6 {
    grid-column: span 6 / span 6;
  }

  .lg\:col-span-7 {
    grid-column: span 7 / span 7;
  }

  .lg\:mx-0 {
    margin-left: 0px;
    margin-right: 0px;
  }

  .lg\:-mt-16 {
    margin-top: -4rem;
  }

  .lg\:-mt-32 {
    margin-top: -8rem;
  }

  .lg\:mb-0 {
    margin-bottom: 0px;
  }

  .lg\:mb-32 {
    margin-bottom: 8rem;
  }

  .lg\:mb-8 {
    margin-bottom: 2rem;
  }

  .lg\:me-3 {
    margin-inline-end: 0.75rem;
  }

  .lg\:mt-0 {
    margin-top: 0px;
  }

  .lg\:mt-10 {
    margin-top: 2.5rem;
  }

  .lg\:mt-5 {
    margin-top: 1.25rem;
  }

  .lg\:block {
    display: block;
  }

  .lg\:inline-block {
    display: inline-block;
  }

  .lg\:flex {
    display: flex;
  }

  .lg\:hidden {
    display: none;
  }

  .lg\:h-\[48px\] {
    height: 48px;
  }

  .lg\:h-\[50px\] {
    height: 50px;
  }

  .lg\:h-\[60px\] {
    height: 60px;
  }

  .lg\:h-\[70px\] {
    height: 70px;
  }

  .lg\:max-h-\[60px\] {
    max-height: 60px;
  }

  .lg\:min-h-\[60px\] {
    min-height: 60px;
  }

  .lg\:w-1\/5 {
    width: 20%;
  }

  .lg\:w-3\/4 {
    width: 75%;
  }

  .lg\:w-\[47\%\] {
    width: 47%;
  }

  .lg\:w-\[48px\] {
    width: 48px;
  }

  .lg\:w-\[50px\] {
    width: 50px;
  }

  .lg\:w-\[60px\] {
    width: 60px;
  }

  .lg\:w-\[70px\] {
    width: 70px;
  }

  .lg\:min-w-\[60px\] {
    min-width: 60px;
  }

  .lg\:max-w-\[60px\] {
    max-width: 60px;
  }

  .lg\:flex-row {
    flex-direction: row;
  }

  .lg\:items-center {
    align-items: center;
  }

  .lg\:justify-between {
    justify-content: space-between;
  }

  .lg\:space-y-10 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(2.5rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(2.5rem * var(--tw-space-y-reverse));
  }

  .lg\:p-10 {
    padding: 2.5rem;
  }

  .lg\:py-10 {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }

  .lg\:py-20 {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .lg\:py-24 {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .lg\:py-32 {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }

  .lg\:py-44 {
    padding-top: 11rem;
    padding-bottom: 11rem;
  }

  .lg\:pb-24 {
    padding-bottom: 6rem;
  }

  .lg\:pt-14 {
    padding-top: 3.5rem;
  }

  .lg\:pt-24 {
    padding-top: 6rem;
  }

  .lg\:text-center {
    text-align: center;
  }

  .lg\:text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .lg\:text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }

  .lg\:text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }

  .lg\:text-5xl {
    font-size: 3rem;
    line-height: 1;
  }

  .lg\:text-\[32px\] {
    font-size: 32px;
  }

  .lg\:text-base {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .lg\:leading-\[56px\] {
    line-height: 56px;
  }
}